In [1]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

In [2]:
# get todays date
current_date = datetime.today().strftime('%m-%d-%Y')
yesterdays_date = (datetime.today() - timedelta(days=1)).strftime('%m-%d-%Y')

In [3]:
try:
    daily_report = pd.read_csv(f'COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/{current_date}.csv')
except:
    daily_report = pd.read_csv(f'COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/{yesterdays_date}.csv')

In [4]:
daily_report.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-27T12:13:14,65596,2641,23383
1,NaN,South Korea,2020-02-27T12:03:04,1766,13,22
2,Guangdong,Mainland China,2020-02-27T09:53:02,1347,7,890
3,Henan,Mainland China,2020-02-27T15:03:11,1272,20,1068
4,Zhejiang,Mainland China,2020-02-27T12:43:02,1205,1,932

In [57]:
# get stats grouped by country
groupby_country = daily_report.drop(['Province/State','Last Update'] ,axis=1)
groupby_country = groupby_country[['Confirmed','Deaths','Recovered']].groupby(groupby_country['Country/Region'])
groupby_country = groupby_country.sum()
groupby_country

                      Confirmed  Deaths  Recovered
Country/Region
Afghanistan                   1       0          0
Algeria                       1       0          0
Australia                    23       0         11
Austria                       3       0          0
Bahrain                      33       0          0
Belgium                       1       0          1
Brazil                        1       0          0
Cambodia                      1       0          1
Canada                       13       0          6
Croatia                       3       0          0
Denmark                       1       0          0
Egypt                         1       0          0
Estonia                       1       0          0
Finland                       2       0          1
France                       38       2         11
Georgia                       1       0          0
Germany                      46       0         16
Greece                        3       0          0
Hong Kong                    92       2         24
India                         3       0          3
Iran                        245      26         49
Iraq                          7       0          0
Israel                        3       0          1
Italy                       655      17         45
Japan                       214       4         22
Kuwait                       43       0          0
Lebanon                       2       0          0
Macau                        10       0          8
Mainland China            78498    2744      32898
Malaysia                     23       0         18
Nepal                         1       0          1
Netherlands                   1       0          0
North Macedonia               1       0          0
Norway                        1       0          0
Oman                          4       0          0
Others                      705       4         10
Pakistan                      2       0          0
Philippines                   3       1          1
Romania                       1       0          0
Russia                        2       0          2
San Marino                    1       0          0
Singapore                    93       0         62
South Korea                1766      13         22
Spain                        15       0          2
Sri Lanka                     1       0          1
Sweden                        7       0          0
Switzerland                   8       0          0
Taiwan                       32       1          5
Thailand                     40       0         22
UK                           15       0          8
US                           60       0          6
United Arab Emirates         13       0          4
Vietnam                      16       0         16

In [61]:
# calculate recovery and death rates
groupby_country['Death Rate'] =  groupby_country.apply(lambda row: (row.Deaths/row.Confirmed), axis=1)
groupby_country['Recovery Rate'] =  groupby_country.apply(lambda row: (row.Recovered/row.Confirmed), axis=1)
groupby_country

                      Confirmed  Deaths  Recovered  Death Rate  Recovery Rate
Country/Region
Afghanistan                   1       0          0    0.000000       0.000000
Algeria                       1       0          0    0.000000       0.000000
Australia                    23       0         11    0.000000       0.478261
Austria                       3       0          0    0.000000       0.000000
Bahrain                      33       0          0    0.000000       0.000000
Belgium                       1       0          1    0.000000       1.000000
Brazil                        1       0          0    0.000000       0.000000
Cambodia                      1       0          1    0.000000       1.000000
Canada                       13       0          6    0.000000       0.461538
Croatia                       3       0          0    0.000000       0.000000
Denmark                       1       0          0    0.000000       0.000000
Egypt                         1       0          0    0.000000       0.000000
Estonia                       1       0          0    0.000000       0.000000
Finland                       2       0          1    0.000000       0.500000
France                       38       2         11    0.052632       0.289474
Georgia                       1       0          0    0.000000       0.000000
Germany                      46       0         16    0.000000       0.347826
Greece                        3       0          0    0.000000       0.000000
Hong Kong                    92       2         24    0.021739       0.260870
India                         3       0          3    0.000000       1.000000
Iran                        245      26         49    0.106122       0.200000
Iraq                          7       0          0    0.000000       0.000000
Israel                        3       0          1    0.000000       0.333333
Italy                       655      17         45    0.025954       0.068702
Japan                       214       4         22    0.018692       0.102804
Kuwait                       43       0          0    0.000000       0.000000
Lebanon                       2       0          0    0.000000       0.000000
Macau                        10       0          8    0.000000       0.800000
Mainland China            78498    2744      32898    0.034956       0.419093
Malaysia                     23       0         18    0.000000       0.782609
Nepal                         1       0          1    0.000000       1.000000
Netherlands                   1       0          0    0.000000       0.000000
North Macedonia               1       0          0    0.000000       0.000000
Norway                        1       0          0    0.000000       0.000000
Oman                          4       0          0    0.000000       0.000000
Others                      705       4         10    0.005674       0.014184
Pakistan                      2       0          0    0.000000       0.000000
Philippines                   3       1          1    0.333333       0.333333
Romania                       1       0          0    0.000000       0.000000
Russia                        2       0          2    0.000000       1.000000
San Marino                    1       0          0    0.000000       0.000000
Singapore                    93       0         62    0.000000       0.666667
South Korea                1766      13         22    0.007361       0.012458
Spain                        15       0          2    0.000000       0.133333
Sri Lanka                     1       0          1    0.000000       1.000000
Sweden                        7       0          0    0.000000       0.000000
Switzerland                   8       0          0    0.000000       0.000000
Taiwan                       32       1          5    0.031250       0.156250
Thailand                     40       0         22    0.000000       0.550000
UK                           15       0          8    0.000000       0.533333
US                           60       0          6    0.000000       0.100000
United Arab Emirates         13       0          4    0.000000       0.307692
Vietnam                      16       0         16    0.000000       1.000000

In [76]:
# aggregated death and recovery rates
aggregated_raw_data = groupby_country[['Confirmed','Deaths','Recovered']].sum()
aggregated_processed_data = groupby_country[['Death Rate','Recovery Rate']].mean()
aggregated_data = aggregated_raw_data.append(aggregated_processed_data)
aggregated_data.to_frame()

                          0
Confirmed      82756.000000
Deaths          2814.000000
Recovered      33277.000000
Death Rate         0.012032
Recovery Rate      0.280222

In [ ]:
#