In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
confirmed = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
deaths = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
recovery = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

In [16]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,982,986,987,988,989,989,989,989,989,989
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,387,393,395,396,399,399,399,400,400,410
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,555,560,567,572,573,575,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,292,293,293,293,293,293,293,294,294,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,91,91

In [17]:
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,1,...,4,4,4,4,4,4,4,4,4,5
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,5,5,6,6,6,6,6,6,6,6
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [18]:
recovery.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,361,413,474,539,597,637,663,712,744,792
1,Beijing,Mainland China,40.1824,116.4142,0,0,1,2,2,2,...,122,145,153,169,178,189,198,215,235,248
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,254,274,299,316,328,335,349,372,384,401
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,93,112,126,149,162,170,183,199,218,228
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,62,65,71,76,76,78,80,80,81,81